<div class="content-header">
    <div class="container-fluid text-center">
        <div class="mb-4">
            <h1 class="m-0">¡Bienvenido a la Plataforma!</h1>
            <p class="lead">Explora las funcionalidades y herramientas diseñadas para facilitar tus tareas.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p>Selecciona una de las opciones del menú para comenzar.</p>
            </div>
        </div>
    </div>
</div>

