<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funeraria San Vicente</title>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar (Header) -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color: #96072D;">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <h3 class="nav-link" data-widget="pushmenu" role="button" style="color: white;">
                        <i class="fas fa-bars"></i> Funeraria San Vicente S.A.
                    </h3>
                </li>
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a class="brand-link" tabindex="-1" href="/inicio" data-navigate>
                <img src="/image/logonegro.png" alt="Logo" class="brand-image img-fluid"
                    style="max-height: 150px; width: auto;" />
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="/usuarios/usuario/" class="nav-link" tabindex="-1" data-navigate>
                                <i class="nav-icon fas fa-user"></i>
                                <p id="userNameDisplay"></p>
                            </a>
                        </li>
                    </ul>
                    <hr style="color: gray;">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuUsuarios">
                            <a href="/usuarios/usuarios" class="nav-link" data-navigate tabindex="-1">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuPlanillas">
                            <a href="/tramites/planilla/" class="nav-link" data-navigate tabindex="-1">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>Planillas</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuMapa">
                            <a href="/mapa" class="nav-link" data-navigate tabindex="-1">
                                <i class="nav-icon fas fa-map-marked-alt"></i>
                                <p>Mapa</p>
                            </a>
                        </li>
                    </ul>
                    <!-- Menú PQRS -->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuPQRS">
                            <a href="#" class="nav-link" id="togglePQRS">
                                <i class="nav-icon fas fa-headset"></i> <!-- Icono de PQRS -->
                                <p>PQRS
                                    <i class="fas fa-chevron-down ml-auto" id="pqrsIcon"></i>
                                </p>
                            </a>
                            <ul id="submenuPQRS" class="nav nav-pills nav-sidebar flex-column" style="display: none;">
                                <li class="nav-item" id="registrarPQRS">
                                    <a href="/pqrs/formulariopqrs" class="nav-link" tabindex="-1" data-navigate>
                                        <i class="nav-icon fas fa-pencil-alt"></i>
                                        <p>Registrar</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="consultarPQRS">
                                    <a href="/pqrs/consultarpqrs" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-search"></i> <!-- Icono de consultar -->
                                        <p>Consultar</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="reportesPQRS">
                                    <a href="#" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-file-alt"></i> <!-- Icono de reportes -->
                                        <p>Reportes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Menú Valets -->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuVales">
                            <a href="#" class="nav-link" id="toggleVales">
                                <i class="nav-icon fas fa-money-check-alt"></i> <!-- Icono de PQRS -->
                                <p>Vales
                                    <i class="fas fa-chevron-down ml-auto" id="valesIcon"></i>
                                </p>
                            </a>
                            <ul id="submenuVales" class="nav nav-pills nav-sidebar flex-column" style="display: none;">
                                <li class="nav-item" id="gestionVales">
                                    <a href="/vales/vales" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-search"></i> <!-- Icono de consultar -->
                                        <p>Gestion</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="reporteVales">
                                    <a href="/vales/reportevales" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-file-alt"></i> <!-- Icono de reportes -->
                                        <p>Reportes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Menú Compras -->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuCompras">
                            <a href="#" class="nav-link" id="toggleCompras">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>Compras
                                    <i class="fas fa-chevron-down ml-auto" id="ComprasIcon"></i>
                                </p>
                            </a>
                            <ul id="submenuCompras" class="nav nav-pills nav-sidebar flex-column" style="display: none;">
                                <li class="nav-item" id="pedidosCompras">
                                    <a href="/compras/pedidos/" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-cash-register"></i>
                                        <p>Pedidos</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="ordenesCompras">
                                    <a href="/compras/ordenes" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-dolly-flatbed"></i> 
                                        <p>Ordenes</p>
                                    </a>
                                </li>
                                </li>
                                <li class="nav-item" id="registroCompras">
                                    <a href="/compras/registrocompras" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-plus-circle"></i>
                                        <p>Registro</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="reporteCompras">
                                    <a href="/compras/reportecompras" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-file-alt"></i> <!-- Icono de reportes -->
                                        <p>Reportes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Menú Recaudo -->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item" id="menuRecaudo">
                            <a href="#" class="nav-link" id="toggleRecaudo">
                                <i class="nav-icon fas fa-money-bill-wave"></i> <!-- Icono de Recaudo -->
                                <p>Recaudo
                                    <i class="fas fa-chevron-down ml-auto" id="RecaudoIcon"></i>
                                </p>
                            </a>
                            <ul id="submenuRecaudo" class="nav nav-pills nav-sidebar flex-column" style="display: none;">
                                <li class="nav-item" id="novedadesRecaudo">
                                    <a href="/recaudo/novedadesrecaudo" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-cash-register"></i> <!-- Icono de consultar -->
                                        <p>Novedades</p>
                                    </a>
                                </li>
                                <li class="nav-item" id="nominaRecaudo">
                                    <a href="/recaudo/nominarecaudo" class="nav-link" data-navigate tabindex="-1">
                                        <i class="nav-icon fas fa-cash-register"></i> <!-- Icono de consultar -->
                                        <p>Nomina Recaudo</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false" style="position: absolute; bottom: 0; width: 90%;">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-danger" id="logoutLink" data-navigate="logoutLink"
                                tabindex="-1">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>Cerrar Sesión</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <script src="/config.js"></script>
        <script src="/controllers/main.js"></script>
        <script src="/controllers/renderizado.js"></script>
        <!-- Content Wrapper -->
        <div class="content-wrapper" id="contenido" tabindex="0">
            {{{body}}}
        </div>

        <div id="spinner-overlay" class="spinner-overlay">
            <div class="spinner"></div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</body>

</html>